@model TiendaVirtual.Domain.Producto
<script src=@Url.Content("~/Scripts/CustomValidations.js") type="text/javascript"></script>

<h1>
    Crear un Producto
</h1>
@using (@Html.BeginForm())
{ 
    <div class="editor-label">
        @Html.LabelFor(x => x.Nombre)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(x => x.Nombre)
        @Html.ValidationMessageFor(x => x.Nombre)
    </div>

    <div class="editor-label">
        @Html.LabelFor(x => x.Precio)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(x => x.Precio)
        @Html.ValidationMessageFor(x => x.Precio)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(x => x.Categoria)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(x => x.CategoriaId, new SelectList(ViewBag.Categorias, "Id", "Nombre"))
    </div>
        
    <p><input type="submit" value="Guardar" /></p>
    @Html.ActionLink("Cancelar y regresar al listado", "Index")
}
